.search {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  gap: 10px;
}

.header {
  width: 100%;
  padding: 20px;
  background-color: rgba(45, 45, 251, 0.753);
}

.input {
  width: 100%;
  border-radius: 10px;
  padding-left: 10px;
}
