.search {
  width: 500px;
  margin: 0 auto;
  display: flex;
  gap: 10px;
}

.header {
  width: 100%;
  padding: 20px;
  background-color: rgba(245, 65, 24, 0.857);
}

.input {
  width: 100%;
  border-radius: 10px;
  padding-left: 10px;
}
