.header {
  background-color: rgba(245, 65, 24, 0.857);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99vw;
  padding: 10px 0;
}
.search-form {
  border-radius: 3px;
  overflow: hidden;
  padding: 5px;
  width: 600px;
  background-color: aliceblue;
  display: flex;
  justify-content: baseline;
}
.search-btn {
  border: none;
  width: 40px;
  height: 40px;
  background-color: inherit;
}
.search-input {
  padding-left: 5px;
  font-size: 18px;
  border: none;
  background-color: inherit;
  outline: 0;
  width: 500px;
}
